.rewarding {
    padding: 100px 0 120px 0;
    border-top: 1px solid rgba(29, 30, 44, 0.15);
    position: relative;

    &__content {
        padding: 0 115px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: center;

        &::after,
        &::before {
            position: absolute;
            left: 50px;
            top: 0;
            height: 100%;
            width: 1px;
            display: flex;
            background: rgba(29, 30, 44, 0.15);
            content: "";
        }

        &::after {
            left: unset;
            right: 50px;
        }
    }

    &__campaign {
        margin-bottom: 40px;
        position: relative;
        padding-top: 370px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &-image {
            width: 50%;
            padding-top: 50%;
            flex-shrink: 0;
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: calc(50% - 25%);

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-radius: 100%;
                height: 100%;
                background: linear-gradient(180deg, #2aabee 0%, rgba(34, 158, 217, 0) 100%);
                animation: breathing 20s ease-in-out infinite;
            }

            img {
                z-index: 1;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
            }
        }

        &-desc {
            position: relative;
            z-index: 3;
            background: $white;
            width: 75%;
            padding: 80px 60px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 15px;
        }
    }

    &__title {
        margin-bottom: 60px;
        text-transform: unset;
        z-index: 2;
        width: 65%;

        span {
            all: inherit;
            margin: 0;
            display: inline;
            color: $accent;
        }
    }

    &__cards {
        display: flex;
        z-index: 2;
        gap: 25px;
    }

    &__card {
        border-radius: 20px;
        background: var(--bw-white, #fff);
        display: flex;
        padding: 40px 65px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        min-height: 250px;
        margin-bottom: 40px;
        margin-top: 0;
        width: 50%;

        &-titling {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 20px;
            margin-bottom: auto;
        }

        &-title {
            @include limitLine(1);
        }

        &-text {
            opacity: 0.6;
        }

        &-icon {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 20px;
            border: 1.5px solid #d01959;
            background: $accent;

            &file {
                width: 30px;
                height: 30px;
                display: flex;
                object-fit: contain;
            }

            &.yellow {
                border-color: #d8993b;
                background: $yellow;
            }
        }

        &:nth-child(2) {
            margin-top: 40px;
            margin-bottom: 0;
        }
    }

    &__bg-unicorn {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -220px;
    }
}

@media (max-width: 1480px) {
    .rewarding {
        padding: 100px 50px;

        &__title {
            width: 800px;
        }

        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 1250px) {
    .rewarding {
        &__content {
            padding: 0 15px;
        }
    }
}

@media (max-width: 992px) {
    .rewarding {
        padding: 50px 0;

        &__content {
            &::after,
            &::before {
                display: none;
            }
        }

        &__title {
            width: 90%;
        }

        &__campaign {
            margin-bottom: 20px;

            &-desc {
                width: 80%;
                padding: 50px;
            }
        }

        &__card {
            padding: 40px;
        }
    }
}

@media (max-width: 768px) {
    .rewarding {
        &__campaign {
            &-image {
                width: 100%;
                padding-top: 100%;
                left: 0;
            }

            &-desc {
                width: 100%;
            }
        }

        &__cards {
            flex-direction: column;
            gap: 10px;
        }

        &__card {
            min-height: unset;
            width: 100%;
            margin: 0;
            margin-bottom: unset;
            margin-top: unset;

            &:nth-child(2) {
                margin-bottom: unset;
                margin-top: unset;
            }
        }
    }
}

@media (max-width: 576px) {
    .rewarding {
        &__campaign {
            margin-bottom: 0;
            padding-top: 280px;

            &-image {
                img {
                    transform: translateX(-50%) scale(0.8);
                    top: -20%;
                }
            }

            &-desc {
                padding: 30px 40px;
                gap: 10px;
            }
        }

        &__card {
            padding: 30px;

            &-title {
                font-size: 26px;
            }
        }

        &__bg-unicorn {
            display: none;
        }
    }
}
