.engagement {
    padding: 70px 0;
    border-top: 1px solid rgba(29, 30, 44, 0.15);
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after,
        &::before {
            position: absolute;
            left: 50px;
            top: 0;
            height: 100%;
            width: 1px;
            display: flex;
            background: rgba(29, 30, 44, 0.15);
            content: "";
        }

        &::after {
            left: unset;
            right: 50px;
        }
    }

    &__titling {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        &-icon {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid rgba(29, 30, 44, 0.2);

            &file {
                display: flex;
                object-fit: contain;
                width: 32px;
                height: 32px;
            }
        }

        &-title {
            margin-bottom: 50px;
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        margin-bottom: 55px;
    }

    &__item {
        border-radius: 20px;
        background: $white;
        padding: 40px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        gap: 10px;

        &-emoji {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 100px;
            height: 100px;
            display: flex;
            object-fit: contain;
        }

        &-desc {
            opacity: 0.6;
        }
    }
}

@media (max-width: 1480px) {
    .engagement {
        padding: 0 50px;

        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .engagement {
        padding: 50px 0;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__content {
            &::after,
            &::before {
                display: none;
            }
        }

        &__titling {
            &-title {
                width: 80%;
                font-size: 44px;
                line-height: 1;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 576px) {
    .engagement {
        &__item {
            padding: 30px;

            &-title {
                font-size: 30px;
            }

            &-desc {
                font-size: 20px;
            }
        }
    }
}
