.joinus {
    margin-bottom: 20px;
    position: relative;

    &__content {
        padding: 0 0 100px 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: center;

        &::after,
        &::before {
            position: absolute;
            left: 50px;
            top: 0;
            height: 100%;
            width: 1px;
            display: flex;
            background: rgba(29, 30, 44, 0.15);
            content: "";
        }

        &::after {
            left: unset;
            right: 50px;
        }
    }

    &__card {
        background: $black-gradient;
        border-radius: 20px;
        width: calc(100% - 30px);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        min-height: 550px;
        padding: 100px 110px;

        &-body {
            flex-grow: 1;
        }

        &-qr {
            width: 230px;
            flex-shrink: 0;
            height: 265px;
            display: flex;
            background: $white;
            overflow: hidden;
            border-radius: 40px;
            padding: 20px;

            &img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-title {
            text-transform: unset;
            text-align: left;
            color: $white;
            line-height: 100px;
            margin-bottom: 40px;

            span {
                all: inherit;
                color: $accent;
                display: inline;
            }
        }

        &-subtitle {
            color: $black;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 140% */
            color: $white;
            margin-bottom: 40px;

            span {
                background: $telegram;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@media (max-width: 1480px) {
    .joinus {
        padding: 0 50px;

        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 1250px) {
    .joinus {
        &__card {
            &-title {
                line-height: 1;
                font-size: 64px;
            }
        }
    }
}

@media (max-width: 992px) {
    .joinus {
        padding: 0;

        &__content {
            padding: 0 0 30px;

            &::after,
            &::before {
                display: none;
            }
        }

        &__card {
            padding: 70px;
            min-height: auto;

            &-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
            }

            &-title {
                text-align: center;
            }

            &-qr {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .joinus {
        &__card {
            &-title {
                font-size: 44px;
            }
        }
    }
}
