.footer {
    &__main {
        border-top: 1px solid rgba(29, 30, 44, 0.15);
        border-bottom: 1px solid rgba(29, 30, 44, 0.15);
    }

    &__content {
        padding: 30px 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__address {
        width: 30%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        &-copytext,
        &-text {
            color: $black;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &-text {
            @include limitLine(1);
        }
    }

    &__logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;

        &-image {
            height: 85px;
            width: 160px;
            display: flex;
            object-fit: contain;
        }

        &-token {
            color: $black;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;

            span {
                all: inherit;
                display: inline;
                color: $accent;
            }
        }
    }

    &__info {
        width: 30%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        &-link,
        &-text {
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 177.778% */
            color: $black;
            transition: 0.3s;

            &:hover {
                color: $accent;
            }
        }

        &-text {
            pointer-events: none;
            color: $gray;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 30px 0;
    }

    &__social {
        width: 40px;
        height: 40px;
        display: flex;
        object-fit: contain;
    }
}

@media (max-width: 1250px) {
    .footer {
        &__address {
            &-text {
                font-size: 16px;
            }
        }

        &__info {
            &-text {
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__address {
            &-text {
                font-size: 14px;
            }
        }

        &__info {
            &-text,
            &-link {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__content {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__logo {
            order: 1;
        }

        &__info {
            order: 2;
            width: 100%;
            align-items: center;
        }

        &__address {
            order: 2;
            width: 100%;
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        position: relative;

        &__content {
            padding: 30px;
        }

        &__logo {
            margin-bottom: 150px;
            height: 120px;
        }

        &__socials {
            position: absolute;
            top: 150px;
            z-index: 2;
            left: 0;
            right: 0;
            height: 150px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            margin: 0;
            gap: 20px;
            border-bottom: 1px solid rgba(29, 30, 44, 0.15);
        }

        &__social {
            margin: auto;
        }

        &__address {
            &-text {
                font-size: 16px;
            }
        }

        &__info {
            &-text,
            &-link {
                font-size: 16px;
            }
        }
    }
}
