@font-face {
    font-family: "Red Rose";
    src: url("RedRose-Bold.woff") format("woff"), url("RedRose-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Rose";
    src: url("RedRose-SemiBold.woff") format("woff"), url("RedRose-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Rose";
    src: url("RedRose-Medium.woff") format("woff"), url("RedRose-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Rose";
    src: url("RedRose-Regular.woff") format("woff"), url("RedRose-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Red Rose";
    src: url("RedRose-Light.woff") format("woff"), url("RedRose-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
