.unisalebg {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    min-width: 1920px;
    width: 100vw;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    align-items: center;
    justify-content: center;

    &__span {
        background: $gray;
        display: flex;
        width: 3px;
        height: 3px;
        border-radius: 100px;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: auto;

        &.staranimate {
            &::after {
                content: "";
                display: flex;
                background: url("@/assets/icons/icon-star-accent.svg") no-repeat center center/contain;
                width: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                height: 40px;
                z-index: 2;
                animation: twinkler 3s ease infinite forwards;
            }

            &.red {
                &::after {
                    background: url("@/assets/icons/icon-star-accent.svg") no-repeat center center/contain;
                }
            }

            &.green {
                &::after {
                    background: url("@/assets/icons/icon-star-green.svg") no-repeat center center/contain;
                }
            }

            &.yellow {
                &::after {
                    background: url("@/assets/icons/icon-star-yellow.svg") no-repeat center center/contain;
                }
            }

            &.blue {
                &::after {
                    background: url("@/assets/icons/icon-star-blue.svg") no-repeat center center/contain;
                }
            }
        }

        &.blockanimate {
            &::after {
                display: none;
            }

            &::before {
                position: absolute;
                content: "";
                display: flex;
                width: 12px;
                height: 12px;
                position: absolute;
                top: calc(50% - 6px);
                background: none;
                left: calc(50% - 6px);
                z-index: 2;
                border-radius: 5px;
                animation: scaler 3s ease infinite forwards;
                background: $accent;
                transition: 0.3s;
            }

            &.red {
                &::before {
                    background: $accent;
                }
            }

            &.green {
                &::before {
                    background: $green;
                }
            }

            &.yellow {
                &::before {
                    background: $yellow;
                }
            }

            &.blue {
                &::before {
                    background: $telegram;
                }
            }
        }

        &:nth-child(n + 169):nth-child(-n + 184),
        &:nth-child(n + 201):nth-child(-n + 216),
        &:nth-child(n + 233):nth-child(-n + 248),
        &:nth-child(n + 265):nth-child(-n + 280),
        &:nth-child(n + 297):nth-child(-n + 312) {
            &::after,
            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 1440px) {
    .unisalebg {
        width: 1300px;

        &__span {
            &:nth-child(n + 136):nth-child(-n + 153),
            &:nth-child(n + 168):nth-child(-n + 185),
            &:nth-child(n + 200):nth-child(-n + 217),
            &:nth-child(n + 232):nth-child(-n + 249),
            &:nth-child(n + 264):nth-child(-n + 281),
            &:nth-child(n + 296):nth-child(-n + 313),
            &:nth-child(n + 328):nth-child(-n + 345) {
                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
}
